# Binaries
src/passivedns

# Object files
*.o

# Autotools files
*.swp
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.sub
config.status
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
Makefile.in
src/config.h
src/config.h.in*
src/.deps/
src/Makefile
src/Makefile.in
src/stamp-h1
src/plugins/*/aclocal.m4
src/plugins/*/autom4te.cache/
src/plugins/*/compile
src/plugins/*/config.guess
src/plugins/*/config.h
src/plugins/*/config.h.in*
src/plugins/*/config.log
src/plugins/*/config.status
src/plugins/*/config.sub
src/plugins/*/configure
src/plugins/*/depcomp
src/plugins/*/.deps/
src/plugins/*/install-sh
src/plugins/*/libtool
src/plugins/*/ltmain.sh
src/plugins/*/m4/
src/plugins/*/Makefile
src/plugins/*/Makefile.in
src/plugins/*/stamp-h1

